Package: snake
Version: [[project.version]]-[[timestamp]]
Section: comm 
Priority: optional
Architecture: amd64
Essential: no
Recommends: openrazer-daemon
Installed-Size: 1024
Maintainer: Bithatch <tanktarta@gmail.com>
Description: A graphical tool for controlling and configuring Razer devices on Linux.
 To be useful, you will also require OpenRazer drivers (https://openrazer.github.io/).
