
.text-separator {
	-fx-padding: 10.0;
}

.text-separator .label {
	-fx-font-family: Roboto;
	-fx-text-fill: #757575;
}

.text-separator .line {
	-fx-background-color: secondary-light-color;
	-fx-max-height: 3.0;
}
